*{
	margin:0px;
	padding:0px; 
}
/*------ header start ------*/

header{
}
.wrapper {
	overflow: hidden;
	margin: 0 auto;
}

.logo {
	width: 22%;
	float: left;
	margin-top: 6px;
	cursor: pointer;		
}
.logo img{
	width: 100%;
}
.menu {
	width: 58%;
	margin-top: 30px;
	float: right;
}
.menu ul{
	overflow: hidden;
}
.menu ul li{
	list-style: none;
	float: left;
}
.menu ul li a{
	font-family: sans-serif;
	font-size: 16px;
	color: #4c5766;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0px 30px;
	display: inline-block;
}
.menu ul li a:hover{
	color: #3370d6;
}
/*------ header end ------*/

/*------ banner section start ------*/

.banner {
}
.b-wrapper {
	background-image: url(../images/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.b-content {
	width: 22%;
	background-color: rgba(13,38,60,.7);
	padding: 30px 20px 20px;
	margin: 70px 0px 200px;
}
.b-content h1{
	font-family: sans-serif;
	font-size: 30px;
	font-weight: normal;
	color: #fff;
	text-transform: uppercase;
	margin: 0px;
	line-height: 43px;
}
.b-content p{
	font-family: sans-serif;
	font-size: 20px;
	color: #fff;
}
.b-content button{
	font-family: sans-serif;
	font-size: 16px;
	color: #fff;
	background-color: rgba(3,12,17,.5);
	width: 170px;
	height: 40px;
	border: none;
	cursor: pointer;
	margin-top: 20px;
	transition: .4s;
	border-radius: 6px;
}
.b-content button:hover{
	color:rgba(3,12,17,.5);
	background-color: #fff;
}
.marquee{
	font-family: sans-serif;
	font-weight: 700;
	font-size:26px;
	color:#fff;
	background-color: rgba(13,38,60,.7);
}
/*------ banner section end ------*/

/*------ service section start ------*/
.service{
	padding: 60px 0px 80px;
}
.s-wrapper{
	width: 90%;
	overflow: hidden;
	margin: 0 auto;
}
.single{
	width: 30%;
	text-align: center;
	float: left;
	margin-right: 5%;
}
.single:last-child{
	margin-right: 0px;
}
.single h2{
	font-family: sans-serif;
	font-size: 30px;
	font-weight: normal;
	color: #9B9C96;
	text-transform: capitalize;
}
.single img{
	width: 100%;
}
.single p{
	font-family: sans-serif;
	color: #5F5D5E;
	margin: 20px 0 30px;
}
.single button{
	font-family: sans-serif;
	color: #fff;
	text-transform: capitalize;
	background-color: #3C597B;
	padding: 7px 26px;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	transition: .4s;
}
.single button:hover{
	background-color: #0E2656;
}


/*------ service section end ------*/


/*------ footer start ------*/

footer{}
.f-wrapper{
	width: 50%;
	margin:0 auto;
}
.f-content{
	text-align: center;
	line-height: 22px;
}
p:last-child{
	font-size: 16px;
}
.s-content{
	display: inline-block;
	margin-top: 6px;
	margin-bottom: 40px;
}
.s-content ul{}
.s-content ul li{
	list-style: none;
	float: left;

}
.s-content ul li a{
	padding: 0 6px;
}
.i-img{
	transition: .4s;
}
.i-img:hover{
	width: 25px;
	height: 25px;
}
/*------ footer end ------*/
